#chat {
    position: absolute;
    font-weight: 600;
    font-size: 24px;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 100px 15px 1em;
    overflow: hidden;
}

#chat .chat-box {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0.5em 1em;
    margin-top: 1em;
    border-left: 0.3em solid;
    background-color: white;
    filter: drop-shadow(5px 5px 3px #1b1a1a);   
}

#chat .chat-box:nth-last-child(8n - 7) {
    border-color: rgba(244, 67, 54, 1);
}
#chat .chat-box:nth-last-child(8n - 6) {
    border-color: rgba(255, 193, 7, 1)
}
#chat .chat-box:nth-last-child(8n - 5) {
    border-color: rgba(255, 235, 59, 1);
}
#chat .chat-box:nth-last-child(8n - 4) {
    border-color: rgba(76, 175, 80, 1)
}
#chat .chat-box:nth-last-child(8n - 3) {
    border-color: rgba(33, 150, 243, 1);
}
#chat .chat-box:nth-last-child(8n - 2) {
    border-color: rgba(63, 81, 181, 1);
}
#chat .chat-box:nth-last-child(8n - 1) {
    border-color: rgba(156, 39, 176, 1);
}
#chat .chat-box:nth-last-child(8n) {
    border-color: rgba(255, 115, 171, 1);
}

#chat .chat-box .user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.badge,
.emotes {
    width: 1.5em;
}

#chat .chat-box .user .profile {
    width: 1.5em;
    border: 3px solid var(--color);
    border-radius: 50%;
}

#chat .chat-box span.message {
    margin-top: 10px;
}