:root {
    --main-color: #4d7a90;
}

#chat {
    position: absolute;
    font-weight: 600;
    font-size: 24px;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 100px 15px 1em;
    overflow: hidden;
}

#chat .chat-box {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0.5em 1em;
    margin-top: 1em;
    border-left: 0.3em solid ;
    background-color: white;
    filter: drop-shadow(5px 5px 3px #1b1a1a);   
}

#chat .chat-box .user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.badge,
.emotes {
    width: 1.5em;
}

#chat .chat-box .user .profile {
    width: 1.5em;
    border: 3px solid var(--color);
    border-radius: 50%;
}

#chat .chat-box span.message {
    margin-top: 10px;
}